#projects.projects
  .container.projects__wrapper
    h2.projects__headline наши самые большие проекты
    .project__cards.row.justify-content-center.flex-nowrap
      .projects__card.col-xs-12.col-md-3.col-lg-4
        img.w-100.projects__image(src="/content/stadium.png" alt="image")
        .projects__block
        h3.projects__title Газпром Арена
        p.projects__text Мы сделали самую красивую арену в Европе. Это открытие стало для нас прорывной точкой для разивтия на следующие десятилетия. Мы очень рады данному еву.

      .projects__card.col-xs-12.col-md-3.col-lg-4
        img.w-100.projects__image(src="/content/stadium.png" alt="image")
        .projects__block
        h3.projects__title Газпром Арена
        p.projects__text Мы сделали самую красивую арену в Европе. Это открытие стало для нас прорывной точкой для разивтия на следующие десятилетия. Мы очень рады данному еву.

      .projects__card.col-xs-12.col-md-3.col-lg-4
        img.w-100.projects__image(src="/content/stadium.png" alt="image")
        .projects__block
        h3.projects__title Газпром Арена
        p.projects__text Мы сделали самую красивую арену в Европе. Это открытие стало для нас прорывной точкой для разивтия на следующие десятилетия. Мы очень рады данному еву.
