.comments#comments
  .container
    h2.comments__headline отзывы о работе с нами
    .comments__cards.row.justify-content-center.flex-nowrap
      .comments__card.col-xs-12.col-md-3.col-lg-4
        img.comments__logo(src="/content/logo__comments.png" alt="logo__comments")
        p.comments__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        span.comments__title Иванов Иван, 
        span.comments__title--span ООО “Газпром-Арена”

      .comments__card.col-xs-12.col-md-3.col-lg-4
        img.comments__logo(src="/content/logo__comments.png" alt="logo__comments")
        p.comments__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        span.comments__title Иванов Иван, 
        span.comments__title--span ООО “Газпром-Арена”

      .comments__card.col-xs-12.col-md-3.col-lg-4
        img.comments__logo(src="/content/logo__comments.png" alt="logo__comments")
        p.comments__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов.
        span.comments__title Иванов Иван, 
        span.comments__title--span ООО “Газпром-Арена”
