extends ../layout/layout.pug
block append head
  title Главная
block append body
  main.js-slider-parent
    include ../components/BaseHeader/BaseHeader.pug
    include ../components/BaseDesc/BaseDesc.pug
    section.desc
      .desk
        .desc__wrapper
          .desc__banner
            h1.desc__title <strong>дизайн-система fishbone</strong> - конструктор для быстрой разработки цифровых продуктов
            .desc__image
              img(src="/content/Vector.png" alt="vector") 
          .desc__links
            +desc({
              bg: "background: #206C97;",
              title: "Описание дизайн-системы",
              icon: "/content/card_logo1.png",
              alt: "design system",
              text: "Как использовать дизайн-систему, технологии, тематизация, подробное описание компонентов",
              link: "#"
            })
            +desc({
              bg: "background: #0071B2;",
              title: "UI-кит в Figma",
              icon: "/content/card_logo2.png",
              alt: "ui figma",
              text: "Набор компонентов для создания макета. Отправьте эту ссылку дизайнеру",
              link: "#"
            })
            +desc({
              bg: "background: #0096EB;",
              title: "UI-кит на GitHub",
              icon: "/content/github_logo.png",
              alt: "ui github",
              text: "Можно менять параметры и смотреть, как выглядят компоненты в разных цветах и размерах",
              link: "#"
            })
            +desc({
              bg: "background: #14A9FF;",
              title: "Проект на GitHub ",
              icon: "/content/github_logo.png",
              alt: "ui github",
              text: "React + Typescript + PostCSS. Отправьте эту ссылку разработчику",
              link: "#"
            })
        .desc__headline
          .desc__headline-wrap
            h2.desc__headline-title Что такое дизайн-система
            p.desc__headline-text Это набор компонентов и правила их взаимодействия — всё, что нужно для создания интерфейсов для веб-проектов. Внутри — готовые кнопки, иконки, стили, цвета и многое другое, в том числе — полностью собранные блоки.<br>

            p.desc__headline-text Похоже на брендбук или гайдлайны, только удобнее: любой компонент можно взять в готовом виде и сразу использовать
    include ../components/BaseAbout/BaseAbout.pug
    section.about
      .about__wrapper
        .about__title-block
          h2.about__title зачем нужна дизайн-система
        .about__cards
          +card({
            title: "Меньше затрат на проект",
            text: "Часть работы по созданию интерфейса уже сделана — в рамках нашей дизайн-системы. При запуске вашего проекта на дизайн и разработку понадобится меньше времени"
          })
          +card({
            title: "Просто проверять гипотезы",
            text: "Вы сможете быстро собирать прототипы и проверять заранее, что в интерфейсе всё понятно, а продуктом удобно пользоваться — до начала разработки"
          })
          +card({
            title: "Единый внешний вид и сценарии",
            text: "Пользователям проще работать с новыми продуктами: найти информацию, перейти в другой раздел, оставить фидбек, если все проекты компании выглядят одинаково и построены по схожим моделям"
          })
          +card({
            title: "Только лучшие практики",
            text: "Компоненты дизайн-системы используются в реальных проектах нашей компании. Мы смотрим, как они работают, и оставляем самые удобные и проверенные варианты"
          })
    include ../components/BaseSlider/BaseSlider.pug
    include ../components/BaseQuestions/BaseQuestions.pug
    section.questions
      .questions__wrapper
        .questions__title
          h2.questions__title-text вопросы <br>и решения
        .questions__accordion
          +answers({
            title: "Какие продукты можно создавать с помощью дизайн-системы",
            desc: "Дизайн-система создавалась для разработки веб-проектов Газпром нефти."
          })
          +answers({
            title: "Как использовать дизайн-систему",
            desc: "Это зависит от ваших задач и технологий. Есть несколько вариантов. Посмотреть и сделать так же, если по каким-то причинам наши наработки вы использовать не можете. Например, разрабатываете мобильное приложение или печатный журнал. В этом случае дизайн-систему можно использовать как гайдлайн. Использовать все возможности. Если вы запускаете веб-проект и готовы вести разработку на React, можете [взять готовый код](ссылка на гитхаб). Для разработки на других языках можно использовать макеты в Figma. Дополнять и дорабатывать. Всё в открытом доступе. Если вы сделаете новый компонент, который будет полезен кому-то ещё, присылайте пулреквесты."
          })
          +answers({
            title: "Это только для новых продуктов?",
            desc: "Не обязательно. Если ваш продукт уже работает, можно постепенно перевести его на дизайн-систему. Сначала потребуются дополнительные усилия, но потом будет проще поддерживать и соблюдать консистентность."
          })
          +answers({
            title: "А если мы работаем с подрядчиками?",
            desc: "Отлично, отправьте им ссылку на описание дизайн-системы. Все ресурсы публичные, можно использовать и «внутри» компании, и «снаружи»"
          })
          +answers({
            title: "У меня уже всё работает. Чем мне поможет дизайн-система?",
            desc: "Всегда можно что-то упростить. Посмотрите на наши сценарии и решения — возможно, с их помощью можно оптимизировать разработку вашего продукта. Можно начать с прототипа или MVP — разберетесь, как использовать дизайн-систему и проверите её эффективность."
          })
          +answers({
            title: "Как вносить изменения в дизайн-систему",
            desc: "Да, дизайн-система Fishbone — это продукт с открытым исходным кодом, его может использовать кто угодно, без ограничений. Компоненты для создания макетов в Figma Исходный код на GitHub."
          })
