extends ../layout/layout.pug
block append head
  title Главная
block append body
    include ../components/BaseBanner/BaseBanner.pug
    include ../components/BaseProjects/BaseProjects.pug
    include ../components/BaseSend/BaseSend.pug
    include ../components/BaseWork/BaseWork.pug
    include ../components/BaseSlider/BaseSlider.pug
    include ../components/BaseAccordion/BaseAccordion.pug
    include ../components/BasePartners/BasePartners.pug
    include ../components/BaseComments/BaseComments.pug
    include ../components/BaseFeedback/BaseFeedback.pug
    include ../components/BaseContacts/BaseContacts.pug
    include ../components/BaseFooter/BaseFooter.pug
    include ../components/BaseSendPopup/BaseSendPopup.pug
    include ../components/BaseFeedbackPopup/BaseFeedbackPopup.pug
