.partners#partners
  h2.partners__headline наши партнеры
  .container-fluid
    .container.partners__cards
      .row.text-center.justify-content-center
        .col.partners__image
          img(src="/content/partners.png" alt="partner")

        .col.partners__image
          img(src="/content/partners.png" alt="partner")

        .col.partners__image
          img(src="/content/partners.png" alt="partner")

        .col.partners__image
          img(src="/content/partners.png" alt="partner")

        .col.partners__image
          img(src="/content/partners.png" alt="partner")
