header.header
  .header__wrapper
    .header__logo-bg
      .header__logo
        img(src="/content/header-logo.png" alt="header-logo")
    .header__links
      .header__link
        a.header__item(href="#" alt="#") зачем это нужно
      .header__link
        a.header__item(href="#" alt="#") вопросы и решения
      .header__link
        a.header__item(href="#" alt="#") примеры
