.contacts#contacts
  h2.contacts__title контакты
  .container
    .row
      .col-lg-3.text-center
        .contacts__card
          img.contacts__image(src="/content/address.png" alt="address")
          p.contacts__name адрес:
          .contacts__data
            p.contacts__item невский проспект 140,
            p.contacts__item офис 140-142

      .col-lg-3.text-center
        .contacts__card
          img.contacts__image(src="/content/phone.png" alt="phone")
          p.contacts__name телефон:
          .contacts__data
            p.contacts__item 8 (812) 111-22-33
            p.contacts__item 8 (812) 111-22-33

      .col-lg-3.text-center
        .contacts__card
          img.contacts__image(src="/content/clocks.png" alt="phone")
          p.contacts__name время работы:
          .contacts__data
            p.contacts__item пн-сб
            p.contacts__item 10:00 - 20:00

      .col-lg-3.text-center
        .contacts__card
          img.contacts__image(src="/content/mail.png" alt="mail")
          p.contacts__name e-mail:
          .contacts__data
            p.contacts__item info@vip.ru
