mixin answers(ans)
  .questions__card
    .questions__header
      .questions__headline
        h5.questions__name= ans.title
      .questions__icon
        img.questions__logo(src="../content/arrow.png" alt="arrow")
    .questions__body
      p.questions__text= ans.desc
