footer.footer
  .container-fluid
    .container
      .row
        .col-sm-9.col-lg-9.footer__text
          span © 2019 Строительная компания

        .col-sm-3.col-lg-3.footer__text
          span Разработано лучшей студией
