footer.footer
  .footer__wrapper 
    .footer__desc
      .footer__title
        h2.footer__text Узнали что-нибудь<br> полезное?
      .footer__buttons
        .footer__button
            span.footer__buttonText да
        .footer__button
            span.footer__buttonText нет
    .footer__feedback
      .footer__feedWrapper
        form.feedback
          textarea.textarea(placeholder="Напишите нам сообщение")
          .footer__emailForm
            .footer__email
              input.email(type="email" placeholder="Почта")
              p.footer__emailDisc Пришлём ответ на этот адрес
            .footer__emailButton
              .emailButton
                span.emailButtonText Отправить
