.footer {
  background: #434343;

  &__wrapper {
    display: flex;
  }

  &__desc {
    width: 32%;
    padding: 68px 29px 95px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font: bold 36px/48px "Segoe UI", sans-serif;
    text-transform: uppercase;
    color: #FFF;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    width: 108px;
    height: 48px;
    background: #0096EB;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    &:hover {
      background: rgb(0, 103, 163);
      cursor: pointer;
    }
  }

  &__buttonText {
    font: normal 18px/27px "Segoe UI", normal;
    color: #FFF;
    text-transform: uppercase;
  }

  &__feedback {
    width: 68%;
    padding: 79px 114px;
  }

  .textarea {
    background: #434343;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 18px 20px 65px 20px;
    width: 427px;
    color: #fff;
  }

  .email {
    background: #434343;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px;
    color: #fff;
  }

  .emailButton {
    padding: 10px 20px;
    background: #c4c4c4;
    border-radius: 5px;
    width: 154px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
  }

  .emailButtonText {
    font: normal 18px/27px "Segoe UI", normal;
    color: #000;
  }

  &__emailDisc {
    font: normal 12px/18px "Segoe UI", normal;
    color: #BDBDBD;
    text-align: center;
  }

  &__emailForm {
    display: flex;
    align-items: center;
    margin: 40px 0;
  }
}
