.slider
  .slider__wrapper
    .slider__title
      h2.slider__title-text примеры
    .slider__desc
      p.slider__text Так может выглядеть ваш проект <br>с дизайн-системой внутри
  .swiper-container.slider__swiper
    // Additional required wrapper
    .swiper-wrapper
      // Slides
      .swiper-slide
        img(src="../content/image 3.png" alt="")
      .swiper-slide
        img(src="../content/image 2.png" alt="")
      .swiper-slide 
        img(src="../content/image 1.png" alt="")
