.slider {
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 32%;
    padding: 60px 30px 60px 30px;
  }

  &__title-text {
    font: bold 29px/45px "Segoe UI", normal;
    color: #fff;
    text-transform: uppercase;
  }

  &__desc {
    width: 68%;
    padding: 60px 60px 60px 108px;
  }

  &__text {
    font: normal 16px/24px "Segoe UI", normal;
    color: #4F4F4F;
  }

  &__swiper {
    width: 100%;
  }
}
